<p-accordion>
  <p-accordionTab header="{{pageData.TaxIdentifier.loopDisplayName}}" [selected]="true">
    &nbsp;
    <div class="ui-inputgroup" *ngIf="displayElement('ReferenceIdentQual')">
      <span class="ui-float-label">
        <input id="float-referenceIdentQual" type="text" pInputText
          [(ngModel)]='pageData.TaxIdentifier.referenceIdentQual' size="30" />
        <label for="float-referenceIdentQual">Reference Ident Qual</label>
      </span>

      <span class="ui-float-label">
        <input id="float-referenceIdent" type="text" pInputText [(ngModel)]='pageData.TaxIdentifier.referenceIdent'
          size="30" />
        <label for="float-referenceIdent">Reference Ident</label>
      </span>
    </div>
  </p-accordionTab>
  <p-accordionTab header="{{pageData.loopId}} - Billing Provider UPIN/License Information">
    &nbsp;
    <p>
      Show the same fields above, if data has two sets then loop thru both and show both.

      Will need ability to add up to two refs
      <br>
      
      For example<br>
      REF*0B*PBS3334<br>
      REF*1G*XXX123
    </p>
  </p-accordionTab>
</p-accordion>